/*content.html*/
body {
	margin: 0px;
	padding: 0px;
	background: #FFFFEE;
	font-size: 12px;
	overflow: auto;
}
#mainDiv{
	width: 100%;
}
#myContent{
	height: 860px;
	width: 1300px;
	margin: 0 auto;
}
#loveHeart {
	width:670px;
	height:670px;
	float: right;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: right;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#words {
	font-family: "sans-serif";
	width: 500px;
	font-size: 24px;
	color:#666;
}

#messages{
	display: none;
}

#elapseClock .digit{
	font-family: "digit";
	font-size: 36px;
}

#loveu{
	padding: 5px;
	font-size: 22px;
	margin-top: 80px;
	margin-right: 120px;
	text-align: right;
	display: none;
}

#loveu .signature{
	margin-top: 10px;
	font-size: 20px;
	font-style: italic;
}

#clickSound{
	display:none;
}

#code {
	margin-top: 80px;
	margin-right: 30px;
	float: left;
	width: 600px;
	height: 400px;
	color: #FF1493;
	font-family: HYChenMeiZiW;
	font-size: 20px;
}
#mobileClient{
	display: none;
}

#code .string{
	color: #2a36ff;
}

#code .keyword{
	color: #7f0055;
	font-weight:bold;
}

#code .placeholder{
	margin-left:15px;
}

#code .space{
	margin-left:7px;
}

#code .comments{
	color: #FF1493;
}

#copyright{
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#666;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}

#copyright a{
	color:#666;
}
#Download {
	padding-left: 100px;
}
#Download a{
	font-size: 16px;
}